.navbar {
    overflow: hidden;
    background-color: #333; /* Color de fondo */
    position: fixed; /* Fija la barra de navegación en la parte superior */
    top: 0; /* Posición en la parte superior */
    width: 100%; /* Ancho completo */
    z-index: 1000;
}

/* Estilos para los enlaces de la barra de navegación */
.navbar a {
    float: left;
    display: block;
    color: #2c2c2c; /* Color del texto */
    text-align: center;
    padding: 14px 16px; /* Espaciado interno */
    text-decoration: none;
}

/* Estilos para los enlaces al pasar el mouse */
.navbar a:hover {
    background-color: #ddd; /* Color de fondo al pasar el mouse */
    color: black; /* Color del texto al pasar el mouse */
}