.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10px 0 20px; /* Agrega un relleno de 10px a los lados izquierdo y derecho */
}

.card {
  width: calc(50% - 10px); /* El 50% del contenedor menos el espacio entre las tarjetas y el relleno */
  height: 300px; /* Altura de cada tarjeta */
  box-sizing: border-box;
  margin-bottom: 10px; /* Espacio entre las filas de tarjetas */
  overflow: hidden;
}

/* Ajuste para el último elemento si hay un número impar */
.card:last-child {
  margin-bottom: 0;
}

/* Estilos para mostrar todas las tarjetas en una sola columna en pantallas pequeñas */
@media (max-width: 600px) {
  .card {
    width: calc(100% - 10px); /* Ocupa todo el ancho en pantallas pequeñas menos el relleno */
  }
}

.card img {
  width: 100%; /* Ajusta el ancho de la imagen al ancho del contenedor */
  height: 100%; /* Mantiene la proporción de la imagen */
  display: block; /* Para eliminar el espacio adicional alrededor de la imagen */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el espacio del contenedor manteniendo su relación de aspecto */
} 

.card-4-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo gris semitransparente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
}

.card::before {
  content: attr(data-title);
  color: white;
  text-align: center;
}

.card:hover::before {
  opacity: 1;
}

.card:hover {
  transform: scale(1.05); 
  /* opacity: 0.8;  */
}

.image-container {
  width: 80%; /* Establece el ancho del contenedor al 80% del ancho de la pantalla */
  margin: 0 auto; /* Centra horizontalmente el contenedor */
  text-align: center; /* Alinea el contenido al centro del contenedor */
  border: 2px solid #cccccc;
}

.image-container img {
  max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
  height: auto; /* Mantiene la proporción de aspecto */
  display: inline-block; /* Asegura que la imagen se ajuste correctamente */
}